@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link.active {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.favourite-btn {
  transition: background-image 0.2s linear;

  background: url("./assets/images/icons/star.svg") no-repeat center / contain;
}

.favourite-btn:hover,
.favourite-btn--active {
  background-image: url("./assets/images/icons/star--active.svg");
}
